<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FileHandling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>606D11EC1D4F06DA00CC3F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606D12051D4F06DA00CC3F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606D12101D4F06DA00CC3F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
